Question 1:

In [31]:
import pandas as pd
print(pd.__version__)

1.0.5

Question 2:

In [34]:
import numpy as np 
data = np.array(['a', 'b', 'c', 'd', 'e']) 
s = pd.Series(data) 
print(s)

0    a
1    b
2    c
3    d
4    e
dtype: object

Question 3:

In [48]:
data=[{'a':i, 'b':2*i} for i in range(3)]
df=pd.DataFrame(data,index=["Karthik","Aakash","Raghuveer"])
df

           a  b
Karthik    0  0
Aakash     1  2
Raghuveer  2  4

Question 4:

In [45]:
import seaborn as sns
print(sns.__version__)

0.10.1

In [5]:
import seaborn as sns
print(sns.get_dataset_names())

/Users/studio/opt/anaconda3/lib/python3.8/site-packages/seaborn/utils.py:384: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 384 of the file /Users/studio/opt/anaconda3/lib/python3.8/site-packages/seaborn/utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  gh_list = BeautifulSoup(http)

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

In [6]:
mpg=sns.load_dataset('mpg')
mpg.head

<bound method NDFrame.head of       mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
393  27.0          4         140.0        86.0    2790          15.6
394  44.0          4          97.0        52.0    2130          24.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model_year  origin                       name
0            70     usa  chevrolet chevelle malibu
1            70     usa          buick skylark 320
2            70     usa         plymouth satellite
3            70     usa              amc rebel sst
4            70     usa                ford torino
..          ...     ...                        ...
393          82     usa            ford mustang gl
394          82  europe                  vw pickup
395          82     usa              dodge rampage
396          82     usa                ford ranger
397          82     usa                 chevy s-10

[398 rows x 9 columns]>

Question 5:

In [ ]:
Kaggle. USA & Europe

In [ ]:
Question 6:

In [29]:
pd.DataFrame(mpg,columns=["origin"])

     origin
0       usa
1       usa
2       usa
3       usa
4       usa
..      ...
393     usa
394  europe
395     usa
396     usa
397     usa

[398 rows x 1 columns]